* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20vh 30vw;
  padding: 20px;
}

.btn {
  margin-top: 10%;
  padding: 10px;
  position: relative;
  
}

a {
  background-color: gray;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
}

input {
 font-size: 2rem; 
 width: 60px;
  padding: 10px;
}