.dashboard-container {
  padding: 2rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-group button:hover {
  background-color: #666;
}



.superscript-button {
  position: relative;
  background-color: #444;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1.9rem !important;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  transition: background-color 0.3s;
}

.superscript-button:hover {
  background-color: #666;
}

.sup-text {
  font-size: 0.7rem;
  transform: translateX(-33px);
  opacity: 0.8;
}

.base-text {
  font-size: 1rem;
}

